/* FOOTER*/

.mi-footer {

    background-image: linear-gradient(to left, rgb(61, 59, 59) , rgb(184, 184, 181));  /* GRADIENT */
    height: 150px;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}