$maps: (
    auditoria: url(../../images/auditoría-interna.jpg),
    estrategia: url(../../images/planificación-estratégica.png),
    riesgos: url(../../images/gestión-de-riesgos.jpg),

    width: 500px,
    height: 260px


);